@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-200 text-zinc-600;
}

.text-primary {
  @apply text-blue-500;
}

.link-primary {
  @apply text-zinc-600 duration-200;
}
.link-primary:hover {
  @apply text-blue-500;
}

.text-responsive {
  font-size: calc(0.8vw + 8px);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */